# No whitespace after the comma or in your part name!
config SHIELD_URXIN_LEFT
    def_bool $(shields_list_contains,urxin_left)

# No whitespace after the comma or in your part name!
config SHIELD_URXIN_RIGHT
    def_bool $(shields_list_contains,urxin_right)